
<script type="text/javascript">
    $(function () {
        const posts = <%- JSON.stringify(kwh) %>
        const postsCount = <%- JSON.stringify(count) %>
        $("#chart").shieldChart({
            theme: "light",
            axisX: {
                categoricalValues: $.map(posts, function (item) {
                    return item.x;
                }),
                labels:{rotation: 310}

            },
            axisY: {
                title: {
                    text: "Energy per day"
                }
            },
            seriesSettings: {
                bar: {
                    dataPointText: {
                        enabled: true
                    }
                }
            },
            primaryHeader: {
                text: "Energy Consumption per day "
            },
            dataSeries: [{
                seriesType: "bar",
                collectionAlias: "Posts per Day",

                data: $.map(posts, function (item) {
                    return {
                        y: item.y,
                        color: item.color
                    }
                }),
                labels: {
                visible: false,
                rotation: 90
            }
            }]
        })

        $("#chartCount").shieldChart({
            theme: "light",
            axisX: {
                categoricalValues: $.map(postsCount, function (item) {
                    return item.x;
                })

            },
            axisY: {
                title: {
                    text: "Sessions per day"
                }
            },
            seriesSettings: {
                bar: {
                    dataPointText: {
                        enabled: true
                    }
                }
            },
            primaryHeader: {
                text: "Sessions per day "
            },
            dataSeries: [{
                seriesType: "bar",
                collectionAlias: "Posts per Day",
                data: $.map(postsCount, function (item) {
                    return {
                        y: item.y,
                        color: item.color
                    }
                })
            }]
        });
    });
</script>
</body>
</html>
