
	<%- include("navBar.ejs")%>


	<div class="container  align-items-center justify-content-center jumbotron d-flex align-items-center"> 
	<h2 class="text-secondary"> <%= message  %> </h2>
</div>
<div class="container  align-items-center"> 
	<a class="btn-info btn " href="/addUser">Add New User</a>

	
	</div>


	<%- include("footer.ejs")%>