<%- include("navBar.ejs")%>
	<dev class="container align-items-center justify-content-center jumbotron d-flex align-items-center container-fluid center container-sm">
    <h2 class="text-info" > Upload Sessions </h2>
</dev>
<dev class="container container-sm">

        <div class="input-group container container-sm">
            <form method="post" action="admin/sessionsupd"  enctype="multipart/form-data">
                <label for="files">Select files:</label>
                <input type="file" accept=".csv, application/vnd.ms-excel" enctype='multipart/form-data' id="files" name="file" multiple><br><br>
                <button type="sumbit" class="btn btn-info" >Upload</button>
              </form>
          </div>
</dev>
<p class="container  align-items-center"> Accepted file format: csv </p>

<%- include("footer.ejs")%>
